.container-fluid
  %br/
  = button_to 'Back to Projects', projects_path, method: :get, class: "btn-default btn btn-primary"
  %h1 Listing users
  = form_for :user, method: :put, :html => { :id => "users_table_form" } do |f|
    %table{:id => 'users', :class => "table"}
      %thead.row
        %tr.row-same-height
          %th{:class => "col-xs-3 col-xs-height col-full-height"} Name
          %th{:class => "col-xs-1 col-xs-height col-full-height"} Uid
          %th{:class => "col-xs-3 col-xs-height col-full-height"} Email
          %th{:class => "col-xs-1 col-xs-height col-full-height"} User Type
          %th{:class => "col-xs-1 col-xs-height col-full-height"}
          %th{:class => "col-xs-1 col-xs-height col-full-height"}
          %th{:class => "col-xs-1 col-xs-height col-full-height"}
          %th{:class => "col-xs-1 col-xs-height col-full-height hide"} ID
      %tbody.row
        - @users.each do |user|
          %tr{:class => "row-same-height lite"}
            %td{:class => "col-xs-3 col-xs-height col-full-height"}= user.name
            %td{:class => "col-xs-1 col-xs-height col-full-height"}= user.uid
            %td{:class => "col-xs-3 col-xs-height col-full-height"}= user.email
            %td{:class => "col-xs-1 col-xs-height col-full-height"}= user.admin ? 'Admin' : 'Instructor'
            %td{:class => "col-xs-1 col-xs-height col-full-height"}= link_to 'Edit', edit_user_path(user), :class => 'users_edit_button'
            %td{:class => "col-xs-1 col-xs-height col-full-height"}= link_to 'Remove', user, method: :delete, data: { confirm: 'Are you sure?' }
            %td{:class => "col-xs-1 col-xs-height col-full-height"}= link_to 'Owned Projects', user_projects_path(user)
            %td{:class => "col-xs-1 col-xs-height col-full-height hide"}= user.id
            //%td{:style => 'display: none;'}= user.id 

  %h2 New user: 
  //= link_to 'New User', new_user_path
  = form_for User.new, :html => { :class => 'form-inline' } do |f|
    .form-group
      = f.label :name, class: 'sr-only'
      = f.text_field :name, class: 'form-control', placeholder: 'Name'

    .form-group
      = f.label :uid, class: 'sr-only'
      = f.number_field :uid, class: 'form-control', placeholder: 'UID'

    .form-group
      = f.label :email, class: 'sr-only'
      = f.text_field :email, class: 'form-control', placeholder: 'Email'

    .checkbox
      = f.check_box :admin
      = f.label :admin

    = f.submit 'Add User', :class => 'btn btn-primary'
