.container-fluid
  %br/
  = link_to 'Go to submission form', submit_submission_projects_path, class: "btn btn-primary"
  = link_to 'Manage users', users_path, method: :get, class: "btn-default btn btn-primary"
  %h1= "Projects owned by #{@user.name}"
  = link_to 'Add Project', new_project_path, :id => "add_project", class: "btn-default btn btn-primary"
  = link_to 'View All Projects', projects_path, class: "btn-default btn btn-primary"

  %table{:id => "projects", :class => "table"}
    %thead.row
      %tr.row-same-height
        %th{:class => session[:title_sort] ? 'hilite' : "col-xs-3 col-xs-height col-full-height"}= link_to "Project Name", projects_path(:title_sort => true, :id => "project_name")
        %th{:class => "col-xs-5 col-xs-height col-full-height"}= "Project Description"
        %th{:class => "col-xs-2 col-xs-height col-full-height text-center"}= "# of Submissions"
        %th{:class => "col-xs-2 col-xs-height col-full-height"}= "Assigned Instructors"
    %tbody.row
      - @projects.each do |project|
        %tr{:class => "row-same-height lite"}
          %td{:class => "col-xs-3 col-xs-height col-full-height"}= link_to "#{project.name}", project_path(project)
          %td{:class => "col-xs-5 col-xs-height col-full-height"}= project.desc
          %td{:class => "col-xs-2 col-xs-height col-full-height text-center"}= project.submissions.count
          %td{:class => "col-xs-2 col-xs-height col-full-height"}= project.users.map! { |k| "#{k.name}" }.join ", "

