%p#notice= notice
%p
  %b Name:
  = @user.name
%p
  %b Uid:
  = @user.uid
%p
  %b Email:
  = @user.email
%p
  %b Admin:
  = @user.admin
= link_to 'Edit', edit_user_path(@user)
|
= link_to 'Back', users_path
