<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><%= link_to 'Show', course_project_path(course_id: project.course_id, id: project.id) %></td>
    <td><%= link_to 'Edit', edit_course_project_path(course_id: project.course_id, id:project.id) %></td>
    <td><%= link_to 'Destroy', course_project_path(course_id: project.course_id, id:project.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_course_project_path %>
