%p#notice= notice
%p
  %b Project:
  = @submission.project.name
%p
  %b Title:
  = @submission.title
%p
  %b Description:
  = @submission.desc
-# = link_to 'Edit', edit_project_submission_path(@submission)
- |
= link_to 'Back', project_submissions_path
