%p#notice= notice
%p
  %b Project:
  = @submission.project.name
%p
  %b Title:
  = @submission.title
%p
  %b Description:
  = @submission.desc
%p
  %b Attachment:
  = link_to "Click here to download #{@submission.attachment.original_filename}", @submission.attachment.url(:original, false) 
- |
= link_to 'Back', project_submissions_path
