%h1 All Projects

%table#projects
  %thead
    %tr
      %th{:class => session[:title_sort] ? 'hilite' : nil}= link_to "Project Name", projects_path(:title_sort => true, :id => "project_name")
      %th= "Project Description"
  %tbody
    - @projects.each do |project|
      %tr
        %td= link_to "#{project.name}", project_path(project)
        %td= project.desc

= link_to 'Add Project', new_project_path 

