.container-full
  .row
    .col-lg-12.text-center.v-center
      %h1 Project Submission
      = form_tag nil, id: 'submit-project-form', class: 'form-box center-block', multipart: 'true' do
        .form-group
          = select_tag 'project', options_from_collection_for_select(@projects, 'id', 'name'), prompt: 'Select a class project...', id: 'project-select', class: 'form-control input-lg'
        .form-group
          = text_field_tag 'submission[title]', nil, placeholder: 'Title', class: 'form-control input-lg'
        .form-group
          = text_area_tag 'submission[desc]', nil, placeholder: 'Description', rows: '3', class: 'form-control input-lg'
        .form-group.input-group
          %span.input-group-btn
            %span.btn.btn-primary.btn-file.btn-lg
              Browse&hellip;
              = file_field_tag 'submission[attachment]'
          = text_field_tag nil, nil, readonly: true, class: 'form-control input-lg'
        .form-group
          = submit_tag 'Submit', class: 'btn btn-primary btn-lg btn-block'

