<p id="notice"><%= notice %></p>

<p>
  <b>Short name:</b>
  <%= @course.short_name %>
</p>

<p>
  <b>Long name:</b>
  <%= @course.long_name %>
</p>

<p>
  <b>Description:</b>
  <%= @course.desc %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
