!!!
%html
  %head
    %meta{:content => "text/html; charset=US-ASCII", "http-equiv" => "Content-Type"}/
    %title Jortal
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag "//use.typekit.net/c/ad1ca2/1w;brandon-grotesque,7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191,Y2m:T:i4,Y2r:T:i7,Y2l:T:n4,Y2q:T:n7,Y2s:T:n9;lexia,7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191,ZJx:T:i4,ZJt:T:i7,ZK0:T:n4,ZJs:T:n7/d?3bb2a6e53c9684ffdc9a99f01b5b2a62aaf3fa3ddf448f5adee50851fd81aaccf588f7f7eea740b0ccccdc3973047f4a33e865b62b896cbea1984334253b91f0fb7e0ddbaaf76189c049fea6197c29d9ac0da30921918491456624dc3400ddeee1d1a101d683bbac926ae8ae8c2375944eac8cb775504d56964b3942183f0cec45de8c5cccfb2bcc59d9449022ab958e8d071cec726a429850919d95e7cddd03b6afc6451aa8db6e0fd7c077c87ab4bf63eb95d9b8a2ce141892f03a3f0a63829901b15ac2c3e42f0d618a8bd1b8f01fa7100104b151f2f7cdf5990a60febc9635387e229ae6bbbd792e83788c953c63eeb59d2f1865b7ec50b75d3270d1ea61b6214ed969e4c9b4766ea318ec86279bd35ff01d4c4f9b67ee749cee93e60693e73b4036b543e44e4eb98df21ad8e7e5ae986356b6ae63ea7b59dfbf9b7b7062ff9d245c0f7a86f7ee42059f3123ae3e237bf285f91adbb4dad314b8f82d3ccec5aa3b221a429a3377"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if flash[:notice]
      #notice.message= flash[:notice]
    - elsif flash[:warning]
      #warning.message= flash[:warning]
    = yield
